/*settingan default*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Font External*/
@font-face {
	font-family: SNPro;
	src: url("fonts/SNPro-VariableFont_wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Inter;
	src: url("fonts/Inter_18pt-Black.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
/*responsive*/
@media (max-width: 600px) {
/*Mobile first*/

body {
	margin-top: 0;
	background-color: #D3E1FF;
	width: 100%;
	height: 100%;
	font-family: arial;
	font-size: 14px;
}

/*Style for header/navbar*/
.Hcontainer {
	display: flex;
	justify-content: center;
	background: linear-gradient(to right,  #59A7F7 20%, #1569E8 50%, #59A7F7 80%);
	width : 93em;
	height: 150px;
	z-index: 1;
	top: 0;
	margin-top: 0;
}

.Hcontainer>div>a>.icon {
	margin-top: 25px;
	width: 100px;
	height: 100px;
}

/*Style for content*/
.Ccontainer {
	position: relative;
	display: grid;
	grid-template-areas: 
	"box1 box1"
	"box2 box2"
	"box3 box3";
	justify-items: start;
	gap: 1em;
	z-index: 0;
	top: 0;
	width: 100%;
}

.Ccontainer>div:nth-child(1) {
	width: 93em;
	height: 166vh;
	background: linear-gradient(0deg, #1757B7 20%,#A8C4FE 50%, #1757B7 80%);
	text-align: center;
	position: relative;
}

.Ccontainer>div:nth-child(1)>h2 {
	position: relative;
	top: 120px;
	padding: 6px;
	z-index: 1;
	font-family: SNPro,arial;
	font-size: 3.5em;
	text-align: center;
	color: #FFFFFF;
  text-shadow: 1px 2px 5px black;
}

.Ccontainer>div:nth-child(1)>pre {
	position: absolute;
	font-family: 'Courier New', monospace;
	font-size: 32px;
  background-color: #222;
  color: #0f0;
  padding: 30px;
  text-shadow: 1px 2px 7px aliceblue;
  top: 55%;
  width: 100%;
  height: auto;
  opacity: 1;
  z-index: 0;
  text-align: justify;
}

.Ccontainer>div:nth-child(1)>p {
	position: relative;
	top: 240px;
	font-size: 4rem;
	z-index: 1;
	font-weight: 600;
	font-family: SNPro,arial;
}

.Ccontainer>div:nth-child(1)>img:nth-child(4){
	width: 	12%;
	height: 40%;
	position: absolute;
	right: 78em;
	top: 350px;
	z-index: 0;
	filter: blur(35px);
}

.Ccontainer>div:nth-child(1)>img:nth-child(5){
	width: 	14%;
	height: 45%;
	position: absolute;
	right: 75em;
	top: 350px;
	z-index: 0;
	opacity: 1;
}

.Ccontainer .transitionbox:nth-child(2) {
	position: relative;
	width: 93em;
	height: 150vh;
	background-image: radial-gradient(circle, rgba(243, 243, 243, 0.10), #D5D5D5 16px);
 	background-size: 25px 50px;
 	z-index: -1;
}

.Ccontainer .transitionbox:nth-child(2)>div:nth-child(2)>img {
	position: absolute;
	width: 35em;
	height: 35em;
	left: 55em;
	top: 100px;
	z-index: 0;
}

.Ccontainer .retangle {
	position: absolute;
	width: 93em;
	height: 150vh;
	background: linear-gradient(#4C86FB);
	border-radius: 0px;
	transition: 300ms ease;
	z-index: 1;
}

.Ccontainer .transitionbox:hover .retangle {
	border-radius: 10px;
	transform: scale(1) translateX(-550px) translatex(120px) skewX(35deg);
}

.Ccontainer .transitionbox .text {
	display: grid;
	grid-template-columns: 30em;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 7em;
	position: relative;
	margin-left: 1em;
	margin-top: 10px;
	z-index: 1;
}

.Ccontainer .transitionbox .text>div:nth-child(1)>h1 {
	position: absolute;
	top: 5%;
	font-size: 4em;
	color: red;
	background-color: white;
	padding: 3px;
	margin-left:50px;
	font-family: Inter,arial;
}

.Ccontainer .transitionbox .text>div>p {
	position: absolute;
	margin-right: 10em;
	font-size: 4.5em;
	left: 40px;
	top: 3em;
	color: white;
	font-family: arial;
	line-height: 1.4;
}

.Ccontainer .transitionbox .text>div>a {
	position: relative;
	top: 13em;
	color: red;
	left: 50px;
	background-color: white;
	text-decoration: none;
	font-size: 2.7em;
}

.Ccontainer>div:nth-child(3) {
	width: 93em;
	height: 35vh;
	background: repeating-linear-gradient(
		75deg,
		#F5DD57,
		#FFEA00 35px,
		#000000 25px,
		#000000 50px
	);
	text-align: center;
	z-index: 0;
	display: flex;
	justify-content:center;
	align-items: center;
}

.Ccontainer>div:nth-child(3)>h2 {
	font-family: SNPro,arial;
	font-weight: 700;
	font-size: 6em;
	color: #FFFFFF;
	z-index: 1;
	text-shadow: 15px 20px 1px black;
}

.Ccontainer>div:nth-child(3)>div:nth-child(1)>img {
	position: relative;
	bottom: 1px;
	right: 5em;
	z-index: 1;
	background-repeat: repeat;
	width: 9em;
	height: auto;
}

.Ccontainer>div:nth-child(3)>div:nth-child(3)>img {
	position: relative;
	bottom: 1px;
	left: 4em;
	z-index: 1;
	background-repeat: repeat;
	width: 9em;
	height: auto;
}

.Fcontainer {
	display: flex;
	justify-content:center;
	position: relative;
	width: 93em;
	height: 10em;
	background-color: #4C9BFD;
	align-items:center;
	bottom: 0;
}

.Fcontainer>footer {
	color: whitesmoke;
	font-size: 3.5em;
}	
}




	/* Tablet */
@media (min-width: 768px) {
  body {
	background-color: #D3E1FF;
	width: 100%;
	height: 100%;
	font-family: arial;
  font-size: 17px;
  }

  /*Style for header/navbar*/
  .Hcontainer {
	display: flex;
	justify-content: center;
	background: linear-gradient(to right,  #59A7F7 20%, #1569E8 50%, #59A7F7 80%);
	width : 50em;
	height: 65px;
	top: 0;
	z-index: 1;
  }

  .Hcontainer>div>a>.icon {
	margin: 5px;
	width: 52px;
	height: 52px;
  }

 /*Style for content*/
.Ccontainer {
	position: relative;
	display: grid;
	grid-template-areas: 
	"box1 box1"
	"box2 box2"
	"box3 box3";
	justify-items: start;
	gap: 0.5em;
	z-index: 0;
	width: 100%;
}

.Ccontainer>div:nth-child(1) {
	width: 50em;
	height: 90vh;
	background: linear-gradient(0deg, #1757B7 20%,#A8C4FE 50%, #1757B7 80%);
	text-align: center;
	position: relative;
}

.Ccontainer>div:nth-child(1)>pre {
	position: absolute;
	font-family: 'Courier New', monospace;
	font-size: 20px;
  background-color: #222;
  color: #0f0;
  align-self: center;
  padding: 20px;
  padding-left: 5px;
  text-shadow: 1px 2px 7px aliceblue;
  text-align: center;
  top: 50%;
  width: 100%;
  height:30%;
  opacity: 1;
  z-index: 0;
}


.Ccontainer>div:nth-child(1)>h2 {
	position: relative;
	top: 70px;
	padding: 6px;
	z-index: 1;
	font-family: SNPro,arial;
	font-size: 1.7em;
	color: #FFFFFF;
  text-shadow: 1px 2px 5px black;
}

.Ccontainer>div:nth-child(1)>p {
	position: relative;
	top: 140px;
	font-size: 2rem;
	margin: 20px;
	z-index: 1;
	font-weight: 600;
	font-family: SNPro,arial;
}

.Ccontainer>div:nth-child(1)>img:nth-child(4){
	width: 	12%;
	height: 40%;
	position: absolute;
	right: 650px;
	top: 200px;
	z-index: 0;
	filter: blur(45px);
}

.Ccontainer>div:nth-child(1)>img:nth-child(5){
	width: 	14%;
	height: 45%;
	position: absolute;
	right: 650px;
	top: 200px;
	z-index: 0;
	opacity: 0.6;
	filter: saturate(50%);
}

.Ccontainer .transitionbox:nth-child(2) {
	position: relative;
	width: 50em;
	height: 80vh;
	background-image: radial-gradient(circle, rgba(243, 243, 243, 0.10), #D5D5D5 16px);
 	background-size: 25px 50px;
}

.Ccontainer .retangle {
	position: absolute;
	width: 50em;
	height: 80vh;
	background: linear-gradient(#4C86FB);
	border-radius: 0px;
	transition: 300ms ease;
	z-index: 1;
}

.Ccontainer .transitionbox:hover .retangle {
	border-radius: 10px;
	transform: scale(1) translateX(-300px) skewX(35deg);
}

.Ccontainer .transitionbox>div:nth-child(2)>img {
	z-index: 0;
	width: 20em;
	height: 22em;
	position: absolute;
	left: 29em;
	top: 2em;
}

.Ccontainer .transitionbox .text {
	display: grid;
	grid-template-columns: 30em;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 4em;
	position: relative;
	margin-left: 1em;
	margin-top: 10px;
	z-index: 1;
}

.Ccontainer .transitionbox .text>div>h1 {
	position: absolute;
	margin-top: 0.5em;
	font-size: 2.5em;
	color: red;
	background-color: white;
	padding: 5px;
	font-family: Inter,arial;
}

.Ccontainer .transitionbox .text>div:nth-child(2)>p {
	position: absolute;
	font-size: 2em;
	top: 3.2em;
	width: 13em;
	color: white;
	font-family: arial;
	line-height: 1.5;
	text-shadow: 1px 1px 2px black;
	text-align: justify;
}

.Ccontainer .transitionbox .text>div>a {
	position: relative;
	top: 6.5em;
	color: red;
	text-decoration: none;
	font-size: 1.5em;
	background-color: white;
	padding: 2px;
}

.Ccontainer>div:nth-child(3) {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50em;
	height: 15vh;
	background: repeating-linear-gradient(
		75deg,
		#F5DD57,
		#FFEA00 35px,
		#000000 25px,
		#000000 50px
	);
	text-align: center;
	z-index: 0;
}

.Ccontainer>div:nth-child(3)>h2 {
	margin-top: 0.5em;
	font-family: SNPro,arial;
	font-weight: 700;
	font-size: 2em;
	color: #FF9F22;
	z-index: 1;
	text-shadow: 5px 3px 1px ghostwhite;
}

.Ccontainer>div:nth-child(3)>div:nth-child(1)>img {
	position: absolute;
	bottom: 1px;
	z-index: 1;
	background-repeat: repeat;
	width: 4em;
}

.Ccontainer>div:nth-child(3)>div:nth-child(3)>img {
	position: absolute;
	bottom: 1px;
	z-index: 1;
	background-repeat: repeat;
	width: 4em;
}

.Fcontainer {
	display: flex;
	justify-content:center;
	position: relative;
	width: 50em;
	height: 5em;
	background-color: #4C9BFD;
	align-items:center;
	bottom: 0;
}

.Fcontainer>footer {
	color: whitesmoke;
	font-size: 1.5em;
}	

}

/* Desktop */
@media (min-width: 1024px) {
  body {
	background-color: #D3E1FF;
	width: 100%;
	height: 100%;
	font-family: arial;
	font-size: 19px;
}

/*Style for header/navbar*/
.Hcontainer {
	display: flex;
	justify-content: center;
	background: linear-gradient(to right,  #59A7F7 20%, #1569E8 50%, #59A7F7 80%);
	background-size: 100%;
	margin: 0px;
	width : 100%;
	height: 4em;
	top: 0;
	z-index: 0;
}

.Hcontainer>div>a>.icon {
	margin: 5px;
	width: 70px;
	height: 70px;
}

/*Style for content*/
.Ccontainer {
	position: relative;
	display: grid;
	grid-template-areas: 
	"box1"
	"box2"
	"box3";
	justify-items: center;
	justify-content:center;
	gap: 0.5em;
	grid-template-columns: 100%;
}

.Ccontainer>div:nth-child(1) {
	width: 100%;
	height: 85vh;
	background: linear-gradient(0deg, #1757B7 20%,#A8C4FE 50%, #1757B7 90%);
	text-align: center;
	position: relative;
	z-index: 0;
}

.Ccontainer>div:nth-child(1)>pre {
	position: absolute;
	font-family: 'Courier New', monospace;
	font-size: 23px;
  background: linear-gradient(to right, transparent 1%, #222 25%);
  color: #0f0;
  align-self: center;
  padding: 20px;
  padding-left: 150px;
  text-shadow: 1px 2px 7px aliceblue;
  text-align: center;
  top: 50%;
  width: 100%;
  height:30%;
  opacity: 1;
  z-index: 0;
}

.Ccontainer>div:nth-child(1)>h2 {
	position: relative;
	top: 50px;
	font-size: 1.5em;
	z-index: 1;
	font-weight: 700;
	font-family: SNPro,arial;
	border-radius: 50px;
	margin: 1em;
	left: 280px;
	width: 920px;
	height:	auto;
	color: honeydew;
	text-shadow: 1px 5px 7px black;
	font-weight: 600;
	text-transform: uppercase;
}

.Ccontainer>div:nth-child(1)>img:nth-child(4){
	width: 	550px;
	height: 550px;
	position: absolute;
	right: 850px;
	top: 30px;
	z-index: 0;
	filter: blur(1px);
}

.Ccontainer>div:nth-child(1)>img:nth-child(5){
	width: 550px;
	height: 550px;
	position: absolute;
	right: 850px;
	top: 30px;
	z-index: 1;
	opacity: 0.5;
	filter: saturate(50%);
}

.Ccontainer .transitionbox:nth-child(2) {
	position: relative;
	width: 100%;
	height: 80vh;
	background-image: radial-gradient(circle, rgba(243, 243, 243, 0.10), #D5D5D5 16px);
 	background-size: 25px 50px;
 	z-index: 0;
}

.Ccontainer .retangle {
	position: absolute;
	width: 100%;
	height: 80vh;
	background: linear-gradient(#4C86FB);
	border-radius: 0px;
	transition: 300ms ease;
	z-index: 0;
}

.Ccontainer .transitionbox:hover .retangle {
	border-radius: 10px;
	transform: scale(1) translateX(-550px) skewX(20deg);
}

.Ccontainer .transitionbox>div:nth-child(2)>img {
	z-index: -1;
	width: 400px;
	height: 400px;
	position: absolute;
	left: 800px;
	top: 50px;
}

.Ccontainer .transitionbox .text {
	display: grid;
	grid-template-columns: 40em;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: start;
	gap: 2em;
	position: relative;
}

.Ccontainer .transitionbox .text>div>h1 {
	position: absolute;
	background-color: white;
	padding: 5px;
	font-size: 2.1em;
	color: red;
	font-family: Inter,arial;
}

.Ccontainer .transitionbox .text>div>p {
	position: absolute;
	font-size: 1.5em;
	top: 3.6em;
	color: white;
	font-family: arial;
	line-height: 1.4;
}

.Ccontainer .transitionbox .text>div>a {
	position: absolute;
	font-size: 1.4em;
	top: 15em;
	color: red;
	text-decoration: none;
}

.Ccontainer>div:nth-child(3) {
	width: 100%;
	height: 15vh;
	background: repeating-linear-gradient(
		75deg,
		#F5DD57,
		#FFEA00 35px,
		#000000 25px,
		#000000 50px
	);
	text-align: center;
	z-index: 0;
}

.Ccontainer>div:nth-child(3)>h2 {
	margin-top: 0.3em;
	font-family: SNPro,arial;
	font-weight: 700;
	font-size: 3em;
	color: #FF9F22;
	z-index: 1;
	text-shadow: 5px 3px 1px ghostwhite;
}

.Ccontainer>div:nth-child(3)>img:nth-child(2) {
	position: absolute;
	bottom: 1px;
	right: 50px;
	z-index: 1;
	background-repeat: repeat;
	width: 4em;
}

.Ccontainer>div:nth-child(3)>img:nth-child(3) {
	position: absolute;
	bottom: 1px;
	left: 50px;
	z-index: 1;
	background-repeat: repeat;
	width: 4em;
}

.Fcontainer {
	display: flex;
	justify-content:center;
	position: relative;
	width: 100%;
	height: 3em;
	background-color: #4C9BFD;
	align-items:center;
	bottom: 0;
	margin: 0px;
}

.Fcontainer>footer {
	color: whitesmoke;
	font-size: 1.5em;
}	


}
